.venv/
__pycache__/
*.pyc
.env
*.log
data/raw/*
!data/raw/.gitkeep
data/curated/*
!data/curated/.gitkeep
data/rejected/*
!data/rejected/.gitkeep
reports/*
!reports/.gitkeep
!reports/images/
!reports/images/.gitkeep
!reports/data/
!reports/data/.gitkeep
!reports/interpretation/
!reports/interpretation/.gitkeep
